/*General CSS*/
	h1, h2, h3{
		font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: #ffffff;
	}



	h4, h5, h6{
		font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: #C0C0C0;
	}

	p{
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		color:#e0e0e0;
	}

	body {
		background-color: #202020;
		padding-top: 50px; /* For the 50px navbar */
		padding-bottom: 20px;
	}


/*Navbar CSS*/
	.navbar {
			background-color:#202020;/*Max made it the background colour. I think it looks better to not have buttons, just floating headers - from #333333*/ 
			font-family: Montserrat, 'Open Sans', Helvetica, Arial, sans-serif;
			font-size: 18px;
			color:#ffffff; /*How the fuck do I change global navbar text color*/
		}

	.register{
		background-color:#87212E;
	}

	.register:hover{
		background-color: #C10537;
	}

	.main-body .underline{
			height:1px;
			width:200px;
			background-color: #009FD7;


/*Body CSS*/
	.main-body{
		margin-right: 50px;
		margin-left: 50px;
		margin-top: 20px;
		margin-bottom: 40px;

	}

	.heading-background{
		background-size:cover;
		background-attachment: fixed;
		background-color: #888888;
		background-position: center;
		width:100%;
		height:338px;
		padding-top: 70px;
		text-align: center;
	}

	.heading-background h1{
			font-size: 72px;
			color: #fff;
		}
	.about-heading-background{
			background-image: url("../images/about.jpg");
		}

/*Slider*/
	.slider{
			position:relative;
			overflow: auto;
		}

			.slider li{
				list-style: none;
				text-align: center;
				padding-top:50px;
				padding-bottom: 90px;
				color:#fff;
			}

				.slider li h1{
					font-size: 72px;
				}

			.slider ul li{
				float: left;
			}
			/*Dots*/
				.dots {
				    position: absolute;
				    left: 0;
				    right: 0;
				    top: 290px;
				    text-align: center;
					}
					.dots li {
						display: inline-block;
						width: 5px;
						height: 5px;
						margin: 0 4px;
						padding:7px;
						text-indent: -999em;
						border: 2px solid #fff;
						border-radius: 14px;
						background-color: #bbbbbb;
						cursor: pointer;
						opacity: .6;
					}
					.dots .active{
						background-color: #dddddd;
						opacity: .8;
					}
			/*Arrows*/
				.arrows {
					margin:0px;
				}

				.arrows .prev {
				    position: absolute;
				    left:15px;
				    top: 219px;
				}

				.arrows .next {
				    position: absolute;
				    right: 15px;
				    top: 219px;
				}

				.arrows .glyphicon{
					font-size: 70px;
					color:#ccc;
					cursor: pointer;
				}

			/*Slide Images*/
				.slide1{
					background-image: url("../images/slide1.jpg");
					background-size:cover;
					background-position: 50% 50%;
					background-color: #888888;

				}
				.slide2{
					background-image: url("../images/slide2.jpg");
					background-color: #888888;
				}
				.slide3{
					background-image: url("../images/slide3.jpg");
					background-color: #888888;
				}	


/*Footer*/
	#footer{
		/*background-color: #444444*/;
		padding-top: 50px;
	}

	#footer span{
		padding-right: 20px;
		padding-left: 20px;
		color: #e0e0e0;
		font-family:  'Open Sans', Helvetica, Arial, sans-serif;
	}

	.aux-nav{
		text-align: center;
		padding-bottom: 50px;
	}

	.aux-nav a{
		text-decoration: none;
		color: #bbbbbb;
	}

	.aux-nav a:hover{
		color:#ffffff;
	}

	/*Social Media CSS*/
		.social-media{
			text-align: center;
			padding-bottom: 30px;
		}

		.media-icon{
			height:64px;
			width:64px;
			display:inline-block;
		}

		.facebook-icon{
			background-image:url("../images/facebook-64.png");
		}

		.twitter-icon{
			background-image:url("../images/twitter-64.png");
		}

		.instagram-icon{
			background-image:url("../images/instagram-64.png");
		}



	.footer-end{
		color:#e0e0e0;/*Max knocked the colour up a few notches from #bbbbbb to the current*/ 
		font-family: 'Open Sans', Helvetica, Arial, sans-serif;
		text-align: center;
		padding-bottom: 20px;
	}